<header>
    <h1>Easy Cleaning</h1>
    <div class="user-info">Administrador</div>
  </header>

  <div class="content">
    <div *ngFor="let pedido of pedidos" class="card">
      <h2>{{ pedido.nombre }}</h2>
      <p>Servicio: {{ pedido.servicio }}</p>
      <p>Fecha: {{ pedido.fecha }} - {{ pedido.hora }}</p>
      <button [routerLink]="['/pedidos/detalle', pedido.id]" class="btn-detalle">
        Ver detalle
      </button>
    </div>

  </div>

   <!-- Barra inferior -->
  <nav class="bottom-nav">
    <a routerLink="/pedidos"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828765.png" alt=""><span>Solicitudes</span></a>
    <a routerLink="/servicios"><img src="https://cdn-icons-png.flaticon.com/512/3063/3063826.png" alt=""><span>Productos</span></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828490.png" alt=""><span>Salir</span></a>
  </nav>

<script>
  window.onclick = function(event) {
    const modal = document.getElementById('modal');
    if (event.target === modal) modal.style.display = 'none';
  }
</script>