<header>
    <h1>Easy Cleaning</h1>
    <div class="user-info">Administrador</div>
  </header>

  <div class="content">
    <div class="card">
      <h2>Laura Rodríguez</h2>
      <p>Servicio: Limpieza de alfombra</p>
      <p>Fecha: 05 Nov 2025 - 10:00 a.m.</p>
      <button class="btn-detalle">Ver detalle</button>
    </div>

    <div class="card">
      <h2>Carlos Gómez</h2>
      <p>Servicio: Limpieza general hogar</p>
      <p>Fecha: 06 Nov 2025 - 2:30 p.m.</p>
      <button class="btn-detalle">Ver detalle</button>
    </div>

    <div class="card">
      <h2>Mariana Ruiz</h2>
      <p>Servicio: Limpieza de oficinas</p>
      <p>Fecha: 07 Nov 2025 - 9:00 a.m.</p>
      <button class="btn-detalle">Ver detalle</button>
    </div>
  </div>

   <!-- Barra inferior -->
  <nav class="bottom-nav">
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828765.png" alt=""><span>Solicitudes</span></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3602/3602123.png" alt=""><span>Mensajes</span></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3063/3063826.png" alt=""><span>Productos</span></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828490.png" alt=""><span>Salir</span></a>
  </nav>

<script>
  window.onclick = function(event) {
    const modal = document.getElementById('modal');
    if (event.target === modal) modal.style.display = 'none';
  }
</script>